// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: none;
  color: lightgrey;
  transition-duration: 0.5s
}

li {
  text-decoration: none;
  list-style: none;
}

.container {
  text-align: center;

}

.card {
  margin: 16px;
}

.card, p {
  margin: 16px;
}
