// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

form {
  display: grid;
  padding: 16px;
}

form input {
  margin: 16px 16px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: none;
  color: lightgrey;
  transition-duration: 0.5s;
}

.container {
  text-align: center;
  width: 60vw;
}

.card {
  margin: 16px;
  text-decoration: none;
}

.card, p {
  margin: 16px;
}

